<ion-view title="Create Memories" >
    <ion-content has-header="true" padding="true">
        <browse-file></browse-file>
        <chat-list></chat-list>
        <user-chat></user-chat>
        <div class="list card">

            <div class="item item-avatar">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQD0Q0skmV80H-C14fTi1cofFtzU6rQ50qhtpdsKUPK8VfjU3fJIA">
                <h2>Plug In Baby</h2>
                <p>Muse</p>
            </div>

            <div class="item item-image">
                <a href="https://www.youtube.com/watch?v=j8WP7aOD_9Q">
                <img src="http://greatestevent.wembleystadium.com/img/img_muse.jpg">
                </a>
            </div>

            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i>
                Start listening
            </a>

        </div>
        <div class="list card">

            <div class="item item-avatar">
                <img src="http://icdn2.digitaltrends.com/image/happy-friendship-day-20132-640x0.jpg?ver=1">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <img width="350"  src="http://car-configurator.ferrari.com/titan//TitanServicev1.aspx?RenderScript=f458SS&width=1500&height=800&base64off=&&&option=*EXT/065427400,*EXT,ECN,CER,BRA,WHR,WHB,EC,WH,*INT/364709440,*INT,T3D1/364700763,T3D1,CMM,CMT,RSCH/094078316,RSCH,CFS,CSB1/364700800,CSB1,SS3,SSS,SSB,REV,IOR,CM,SS,IO,STDTunnel,STDStitching,STDCarpet,STDArch,STDSteering,STDDash,STDHeadliner,STDUpper,STDRear,STDEmboss&format=jpeg&quality=95&assetPath=EXT_TURN/000&replace=frame:00&">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
