/* Empty. Add your own CSS if you like */
#welcome {
    height: 50%; /* Set your own height: percents, ems, whatever! */
    width: 10%; /* Set your own width: percents, ems, whatever! */
    overflow: auto; /* Recommended in case content is larger than the container */
    margin: auto; /* Center the item vertically & horizontally */
    position: absolute; /* Break it out of the regular flow */
    top: 500px; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */

}

#browseBtn {
    visibility: hidden;
}

#myMenuButton {
    height: 50%; /* Set your own height: percents, ems, whatever! */
    width: 20%; /* Set your own width: percents, ems, whatever! */
    overflow: auto; /* Recommended in case content is larger than the container */
    margin: auto; /* Center the item vertically & horizontally */
    position: absolute; /* Break it out of the regular flow */
    top: 500px; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */
}

.chatbox {
    position:absolute;
    bottom: 0px;
}
.message-input {
    margin-top: 10px;
}
 
.chatbox-container {
    font-size: 1.2rem;
    color: #D9D9D9;
    font-style: oblique;
    position:relative;
    height: 200px;
    border: 1px solid rgba(0,0,255, 0.2);
    padding: 10px;
    line-height: 29px;
    overflow: hidden;
}

.scroll-content {
    background: radial-gradient(ellipse at center,  #34679a 0%,#214163 47%,#0d1926 100%);
}

html, body {
    height: 100%;
}

body {
    background: radial-gradient(ellipse at center,  #34679a 0%,#214163 47%,#0d1926 100%);
}

body > div {
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -103px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(80deg) rotateY(20deg);
    transform-style: preserve-3d;
    transform: rotateX(80deg) rotateY(20deg);
}

body > div:first-of-type:after {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    -webkit-transform: rotateX(-80deg) rotateY(0);
    transform: rotateX(-80deg) rotateY(0);
    box-shadow: 0 0 25px #fff;
    -webkit-animation: nucleus_ 2s infinite linear;
    animation: nucleus_ 2s infinite linear;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

body > div:nth-of-type(2) {
    -webkit-transform: rotateX(-80deg) rotateY(20deg);
    transform: rotateX(-80deg) rotateY(20deg);
}

body > div:nth-of-type(3) {
    -webkit-transform: rotateX(-70deg) rotateY(60deg);
    transform: rotateX(-70deg) rotateY(60deg);
}

body > div:nth-of-type(4) {
    -webkit-transform: rotateX(70deg) rotateY(60deg);
    transform: rotateX(70deg) rotateY(60deg);
}

body > div > div {
    width: 200px;
    height: 200px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: trail_ 2s infinite linear;
    transform-style: preserve-3d;
    animation: trail_ 2s infinite linear;
}

body > div > div:after {
    content: "";
    position: absolute;
    top: -5px;
    box-shadow: 0 0 12px #fff;
    left: 50%;
    margin-left: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation: particle_ 2s infinite linear;
    animation: particle_ 2s infinite linear;
}

body > div:nth-of-type(2) > div,
body > div:nth-of-type(2) > div:after {
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s;
}

body > div:nth-of-type(3)  > div,
body > div:nth-of-type(3)  > div:after {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

body > div:nth-of-type(4) > div,
body > div:nth-of-type(4) > div:after {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

@-webkit-keyframes trail_ {
    from {
        -webkit-transform: rotateZ(0deg);
    } to {
          -webkit-transform: rotateZ(360deg);
      }
}

@keyframes trail_ {
    from {
        transform: rotateZ(0deg);
    } to {
          transform: rotateZ(360deg);
      }
}

@-webkit-keyframes particle_ {
    from {
        -webkit-transform: rotateX(90deg) rotateY(0deg);
        transform: rotateX(90deg) rotateY(0deg);
    } to {
          -webkit-transform: rotateX(90deg) rotateY(-360deg);
          transform: rotateX(90deg) rotateY(-360deg);
      }
}


@keyframes particle_ {
    from {
        transform: rotateX(90deg) rotateY(0deg);
    } to {
          transform: rotateX(90deg) rotateY(-360deg);
      }
}

@keyframes nucleus_ {
    0% {
        box-shadow: 0 0 0 transparent;
    } 50% {
          box-shadow: 0 0 25px #fff;
      } 100% {
            box-shadow: 0 0 0 transparent;
        }
}

@-webkit-keyframes nucleus_ {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 25px #fff;
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script);

body {
    background: radial-gradient(ellipse at center,  #34679a 0%,#214163 47%,#0d1926 100%); repeat;
}

#titlewrapper {
    height: 300px;
    width: 400px;
    margin: 50px auto;
    background: ;

}

.designwrap {
    width: 100%;
    background:;
}

h1.I {
    font-family:'Fjalla One', sans-serif;
    font-size:7em;
    color: #ff3643;
    margin: 0 -37px 0 0;
    padding: 0;
    letter-spacing: 3px;
    font-weight: 500;
    transition: all ease-in .2s;
    -webkit-text-stroke: 1px rgba(238,238,238,.2);
    display:inline;
    opacity: 0;
    text-shadow:
    1px 1px 0 rgba(23,23,23,1),
    2px 2px 0 rgba(23,23,23,0.9),
    3px 3px 0 rgba(23,23,23,0.8),
    4px 4px 0 rgba(23,23,23,0.7),
    5px 5px 0 rgba(23,23,23,0.6),
    6px 6px 0 rgba(23,23,23,0.5),
    7px 7px 0 rgba(23,23,23,0.4),
    8px 8px 0 rgba(23,23,23,0.3),
    9px 9px 0 rgba(23,23,23,0.2),
    10px 10px 0 rgba(23,23,23,0.1),
    11px 11px 0 rgba(23,23,23,0.09),
    12px 12px 0 rgba(23,23,23,0.08),
    13px 13px 0 rgba(23,23,23,0.07),
    14px 14px 0 rgba(23,23,23,0.06),
    15px 15px 0 rgba(23,23,23,0.05),
    16px 16px 0 rgba(23,23,23,0.04),
    17px 17px 0 rgba(23,23,23,0.03),
    18px 18px 0 rgba(23,23,23,0.02),
    19px 19px 0 rgba(23,23,23,0.01),
    20px 20px 0 rgba(23,23,23,0.0),
    -15px 20px 10px rgba(23,23,23,0.05);
}

h1.design {
    font-family:'Fjalla One', sans-serif;
    font-size:7em;
    color: #ff3643;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all ease-in-out 0.3s;
    display:inline;
    text-shadow:
    1px 1px 0 rgba(23,23,23,1),
    2px 2px 0 rgba(23,23,23,0.9),
    3px 3px 0 rgba(23,23,23,0.8),
    4px 4px 0 rgba(23,23,23,0.7),
    5px 5px 0 rgba(23,23,23,0.6),
    6px 6px 0 rgba(23,23,23,0.5),
    7px 7px 0 rgba(23,23,23,0.4),
    8px 8px 0 rgba(23,23,23,0.3),
    9px 9px 0 rgba(23,23,23,0.2),
    10px 10px 0 rgba(23,23,23,0.1),
    11px 11px 0 rgba(23,23,23,0.09),
    12px 12px 0 rgba(23,23,23,0.08),
    13px 13px 0 rgba(23,23,23,0.07),
    14px 14px 0 rgba(23,23,23,0.06),
    15px 15px 0 rgba(23,23,23,0.05),
    16px 16px 0 rgba(23,23,23,0.04),
    17px 17px 0 rgba(23,23,23,0.03),
    18px 18px 0 rgba(23,23,23,0.02),
    19px 19px 0 rgba(23,23,23,0.01),
    20px 20px 0 rgba(23,23,23,0.0),
    -15px 20px 10px rgba(23,23,23,0.05);
}


h1.code {
    font-family:'Fjalla One',sans-serif;
    font-size:1.2em;
    color:#171717;
    margin:500px 0 75px -50px;
    padding:0;
    letter-spacing:3px;
    font-weight:500;
    text-align: center;
    text-transform:uppercase;
    transition:all ease-in .2s;
    text-shadow:
    1px 1px 0 rgba(238,238,238,1),
    2px 2px 0 rgba(238,238,238,0.9),
    3px 3px 0 rgba(23,23,23,0.8),
    4px 4px 0 rgba(23,23,23,0.7),
    5px 5px 0 rgba(23,23,23,0.6),
    6px 6px 0 rgba(23,23,23,0.5),
    7px 7px 0 rgba(23,23,23,0.4),
    8px 8px 0 rgba(23,23,23,0.3),
    9px 9px 0 rgba(23,23,23,0.2),
    10px 10px 0 rgba(23,23,23,0.1),
    11px 11px 0 rgba(23,23,23,0.09),
    12px 12px 0 rgba(23,23,23,0.08),
    13px 13px 0 rgba(23,23,23,0.07),
    14px 14px 0 rgba(23,23,23,0.06),
    15px 15px 0 rgba(23,23,23,0.05),
    16px 16px 0 rgba(23,23,23,0.04),
    17px 17px 0 rgba(23,23,23,0.03),
    18px 18px 0 rgba(23,23,23,0.02),
    19px 19px 0 rgba(23,23,23,0.01),
    20px 20px 0 rgba(23,23,23,0.0),
    -15px 20px 10px rgba(23,23,23,0.05);

}